.DS_Store
.dart_tool/

.packages
.pub/
.idea

build/
pubspec.lock
.flutter-plugins
# flutter
IDEWorkspaceChecks.plist
org.eclipse.buildship.core.prefs
Breakpoints_v2.xcbkptlist
example/android/app/.classpath
example/android/app/.project
example/android/.project
.flutter-plugins-dependencies
